body
{
	background-color: #ffffff;
}

.s1
{
	background-image: url(../img/s0100.gif);
	background-color: #2f2f2f;
	background-position: center;
	background-repeat: no-repeat;
	height: 25px;
	border-bottom: 5px solid #ff3333;
}

.s1-textfield
{
	margin: 4px 0px 0px 0px;
	border: none;
	background-color: #5a5a5a;
}

.s1
{
	color: #ffffff;
}	

.s1 a
{
	font-size: 1em;
	color: #dddddd;
	text-decoration: none;
	font-weight: bold;
}

.s1 a:hover
{
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.login_submit
{
	float: right;
	margin: 5px 0px 0px 0px;
	border: none;
	background-color: #5a5a5a;
	color: white;
}
.login_field
{
	margin: 6px 0px 0px 2px;
	border: none;
	background-color: #5a5a5a;
	width: 90px;
	color: #aaaaaa;
}
.textfield
{
	width: 130px;
	margin: 0;
}
#reg_table td
{
	padding-top: 5px;
	padding-bottom: 5px;
}
#reg_table td.a
{
	text-align: right;
	padding-right: 5px;
}
.user_links
{
	float: right;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

.s2
{
	height: 170px;
	background-color: #ffffff;
}

.s2-b
{
	margin-top: 50px;
}

.s2-ul li
{
	color: #ffffff;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	list-style-type: none;
	margin-right: .75em;	
	padding: .25em;
	background-color: #404040;
}

.s2-ul li:hover
{
	color: #ffffff;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	list-style-type: none;
	margin-right: .75em;	
	padding: .25em;
	background-color: #ff3333;
}

.s3
{
	background-color: #2f2f2f;
	background-position: center;
	background-repeat: no-repeat;
	border-top: 5px solid #ff3333;
	color: #eeeeee;
	font-size: 1.2em;
	height: 20px;
	padding-top: 2px;
}

.s4
{
	padding-top: 2px;
	border-bottom: 2px dashed #aaaaaa;
}

.s4-b
{
	color: #ff3333;
	font-size: 2em;
	margin-top: 5px;
}

.s4 a
{
	color: #ffffff;
	background-color: #7b8d00;
	text-decoration: none;	
	font-weight: bold;
}

.s4 a:hover
{
	color: #ffffff;
	background-color: #a0b800;
	text-decoration: none;
	font-weight: bold;	
}

.s5
{
	color: #555555;
	font-size: 1.3em;
}

.s5 a
{
	color: #7b8d00;
	text-decoration: none;	
	font-weight: bold;
}

.s5 a:hover
{
	color: #a0b800;
	text-decoration: none;
	font-weight: bold;	
}

.s5 p
{
	margin-bottom: 10px;	
}

.s6
{
	font-size: 1em;
	color: #555555;	
}

.s7
{
	background-color: #7c7d1b;
	height: 50px;
}

.s7 img
{
	padding: 3px 25px 0px 0px;	
}

.content
{
	width: 950px;
	margin: auto;
}

.padding
{
	padding: 10px;	
}
